.title_text1
  font-size: 1.5rem
  font-weight: 300

.pic_content
  height: 11rem
  width: 11rem

.pic_img_content
  display: inline-block
  vertical-align: top


.pic_content_text
  display: inline-block
  max-height: 2rem
  color: #585858
  font-size: 1rem
  font-weight: 500
  margin-top: 1.5rem
  text-decoration: none
  max-width: 75%

.product_delete
  display: inline-block
  margin-left: 1rem
  vertical-align: top



.counter_inline
  display: inline-block
  margin-top: 0.5rem
  margin-left: 1rem

.counter_cursor
  cursor: pointer

.product__price
  margin-left: 1rem

.modal-header
  border: none

.modal-footer
  border: none

.modal-body
  border: none

.foot_but
  display: inline-block

.pic_grey
  background: #818182

.pic_red
  background-color: $bdsmColor
  width: 50%
  float: left


.foot_grey
  background-color: #818182
  text-align: center
  width: 50%
  float: left

.counter_border
  border: 1px solid #d9d9d9
  border-radius: 50%
  width: 1.5rem
  font-size: 1.2rem
  text-align: center

.title_price
  text-decoration: line-through

.price-footer
  width: 100%

.product_pic_content_text
  max-width: 40%
  margin-left: 10rem
  display: inline-block


.product__counter
  max-width: 40%
  margin-left: 10rem











