//.footer
//  background: #22242c
//
//.title
//  display: block
//  font-size: large
//  padding-top: 5rem
//  color: #ffffff
//  font-family: 'Gilroy-Regular'
//  font-weight: 700
//  font-stretch: normal
//  font-style: normal
//  text-align: center
//  top: 50%
//
//.submitreg
//  font-family: 'Gilroy-Medium'
//  display: inline-block
//  border-radius: 0.4rem
//  padding: 2rem 2rem
//  background: #ff0054
//  border: 0
//  font-size: 1rem
//  line-height: 3rem
//  align-items: center
//  text-align: center
//  font-weight: 700
//  color: #ffffff
//  cursor: pointer
//  padding: 0 4rem
//  max-height: 3rem
//
//.logos
//  display: inline-block
//  margin-left: 15rem
//  padding-top: 5rem
//  padding-bottom: 2rem
//  color: #fff
//
//.clients
//  display: inline-block
//  margin-top: 2rem
//  color: #fff
//  font-weight: 500
//  font-size: 18px
//  pointer-events: none
//  padding-top: 3rem
//  padding-bottom: 3rem
//  pointer-events: auto
//
//.inlineblocktest
//  display: inline-block
//
//.contacts
//  display: inline-block
//  margin-top: 3rem
//  color: #fff
//  font-weight: 500
//  font-size: 18px
//  pointer-events: none
//  padding-top: 3rem
//  padding-bottom: 3rem
//  pointer-events: auto
//
//.classform, .classform2
//  display: grid
//  gap: 30px
//  grid-template-columns: 1fr 1fr auto
//  padding: 0 75px
//
//.testinputclass
//  font-family: 'Gilroy-Medium'
//  font-size: 1.2rem
//  font-weight: 800
//  font-stretch: normal
//  font-style: normal
//  line-height: 1.19
//  letter-spacing: normal
//  text-align: left
//  color: #ffffff
//  padding: 0 1rem
//  border-width: 0 0 0.1rem 0
//  border-style: solid
//  border-color: #ffffff
//  background-color: transparent
//
//  &:hover, &:active, &:focus
//    background: rgba(0, 0, 0, 0.25)
//    border-radius: 0.1rem
//    color: #FFF
//    outline: none
//    background-color: #ffffff
//    color: #2a2b31
//
//.linkcolor
//  color: white
//  text-decoration: none
//  background-color: transparent
//
//  &:hover, &:active, &:focus
//    color: grey
//    text-decoration: none
//    background-color: transparent
//    font-family: Gilroy-Medium
//
//.footer__socials-item
//  margin-left: 2rem
//
//.letter
//  margin-left: 5rem
//
//.letter2
//  margin-left: 65rem
//
//.footermobile
//  display: none
//
//.footmob
//  margin-top: 2rem
//  background: #22242c
//  border-radius: 1rem
//  font-size: 2rem
//  line-height: 2rem
//  border: none
//  margin-left: auto
//  margin-bottom: 0.3rem
//
//.containermob
//  margin-top: 3rem
//  background: #22242c
//  border-radius: 1rem
//  font-size: 2rem
//  line-height: 2rem
//  border: none
//  margin-left: auto
//  margin-bottom: 0.3rem
//  margin-left: 4rem
//
//.sales
//  font-family: 'Gilroy-Regular'
//  font-size: 2rem
//  font-weight: 300
//  color: white
//  text-decoration: none
//
//.linkcolors
//  color: white
//  text-decoration: none
//  background-color: transparent
//
//
//
//  &:hover, &:active, &:focus
//    color: grey
//    text-decoration: none
//    background-color: transparent
//    font-family: Gilroy-Medium
//
//.footlink
//  background-color: #ff0054
//  border-radius: 0.2rem
//  border: none
//
//.subscribe-text
//  margin-top: 2rem
//
//.subscribe-submit
//  margin-top: 1rem
//
//.subscribe-title
//  margin-top: 2rem
//
//.footcontact
//  padding: 0 1.5rem
//
//.subscribe
//  display: none
//  padding-top: 2rem
//
//


.footer
  background-color: $darkColor
  width: 100%
  min-height: 25rem
  padding: 5rem 0 1.5rem 0
  &__title
    font-size: 1.3rem
    font-weight: 700
    color: #ffffff
    text-align: center
  &__letters
    position: relative
    min-height: 12rem
    &-left
      position: absolute
    &-right
      position: absolute
      top: 5rem
      right: 0
  &__form
    display: flex
    justify-content: space-between
    div
      width: 35%
      input
        font-size: 1.2rem
        font-weight: 700
        background-color: $darkColor
        border: none
        border-radius: 0
        &:focus, &:active
          background-color: $darkColor
          box-shadow: none
          border-bottom: 2px solid #ffffff
    &-btn
      width: 12rem
      height: 100%
      background-color: $bdsmColor
      color: #ffffff
      font-weight: 700
      cursor: pointer
      &:active, &:focus, &:hover
        color: #ffffff
        box-shadow: none

  &__info
    margin-top: 5rem
    display: flex
    justify-content: space-between
  &__dropup
    width: 30%
    display: flex
    justify-content: space-between
    &-btn
      color: #ffffff
      font-size: 1.2rem
      background-color: $darkColor
      border: 0
      font-weight: 700
      &:active, &:focus, &:hover
        outline: none
        box-shadow: none
    &-title
      font-size: 1.2rem
      font-weight: 700
  &__socials
    width: 13rem
    display: flex
    justify-content: space-between
    i
      color: #ffffff
      font-size: 1.6rem
      transition: .3s color
      &:hover
        color: $bdsmColor



