@media (max-width: 1150px)
    .header
        &__fixed
            display: none
        &__main
            display: none
        &__fixed-additional
            display: flex
            justify-content: space-between

@media (max-width: 992px)
    .products
        padding-top: 4rem

@media (max-width: 768px)
    .header
        &__search-additional
            a
                transform: scale(.9)
        &__cart-additional
            margin-right: 1rem
            i
                transform: scale(.9)
        &__dropdown-additional
            background-color: transparent
            transform: scale(1.05)

@media (max-width: 535px)
    div

@media (max-width: 1150px)
    .containers
        display: none
    .containerinfo
        display: none
    .subscribe
        display: flex

