@media (max-width: 1150px)
    .header
        &__fixed
            display: none
        &__catalog-dropdown, &__cart
            display: none
        &__form
            width: 100%
        &__search-wrap
            a
                position: absolute
                right: 0

        &__fixed-additional
            display: flex
            justify-content: space-between
        &__logo
            &-link
                color: $bdsmColor !important
                margin-left: 1rem
    .slider
        &__inner
            margin-top: 5rem

    .products
        padding-top: 4rem

@media (max-width: 992px)
    .slider
        &__inner
            width: 100%
    .banner
        display: none
    .products
        padding-top: 4rem
        &__sort
            display: flex
            flex-direction: column
            align-items: center
            span
                margin-top: 1.5rem
            button
                width: 13rem
                margin-top: .6rem
            &-btn-popular
                margin-left: 0

    .video
        .video-container
            grid: repeat(2, 1fr) / repeat(3, 1fr)
            box-shadow: none
        .video-item
            left: -5000px

    .footer
        &__logo-link
            font-size: 1.5rem


@media (max-width: 768px)
    .header
        &__search-additional
            a
                transform: scale(.9)
        &__cart-additional
            margin-right: 1rem
            i
                transform: scale(.9)
        &__dropdown-additional
            background-color: transparent
            transform: scale(1.05)
        &__logo
            &-link
                color: #ffffff !important
                margin-left: 1rem

    .modal
        &__registration
            width: 26rem

    .products
        &__wrap
            flex-direction: column
    .search-modal
        width: 82%

    .video-container
        grid: 1fr / 1fr
    .video-item, .video-item-second-third
        left: -5000px

    .footer
        &__title
            font-size: 1.2rem
        &__logo
            display: none
        &__form
            flex-wrap: wrap
            div
                width: 45%
        &__socials
            padding-top: 1rem
        &__dropdown-menu
            transform: translate(-2.5rem, -15.5rem) !important


@media (max-width: 535px)
    .header
        &__user-field
            position: fixed
            color: $darkColor
            font-weight: 900
            top: 7rem
            right: 0
            i
                color: #000000

    .modal
        &__registration
            width: 18rem

    .products
        &__sort
            display: flex
            flex-direction: column
            align-items: center
            span
                margin-top: 1.5rem
            button
                width: 13rem
                margin-top: .6rem

    .footer
        padding-top: 3.5rem
        &__title
            font-size: 1rem
            margin-bottom: 2rem
        &__letters
            display: none
        &__form
            div
                width: 90%
                margin: 1rem auto
                input
                    border-radius: 5px
                    color: #ffffff
                    &:focus, &:active
                        border: 1.5px solid $bdsmColor
            button
                margin: 1rem auto
        &__info
            flex-wrap: wrap
        &__dropup
            width: 90%
            justify-content: center
            margin: 0 auto
        &__socials
            width: 10rem
            margin: 1rem auto
