.product-card
  display: flex

.product-code_title
  color: #bfbfbf
  font-weight: 700
  margin-left: 2rem


.product-code_figures
  color:  $bdsmColor
  font-weight: 900

.product-card_information-header
  font-weight: 800
  font-size: 1.5rem
  margin-left: 2rem

.product-card_information-avaible
  color: #34ce57
  font-weight: 800
  margin-top: 2rem
  margin-left: 2rem

.product-card_price-current
  font-weight: 900
  font-size: 2rem
  margin-left: 2rem

.product_button-click
  display: flex

.product-buy_button
  border-radius: 1rem
  background-color: $bdsmColor
  text-decoration: none
  padding: 0.3rem 3rem
  color: #ffffff
  font-weight: 900
  box-shadow: none
  border: none
  outline: none
  margin-top: 2rem
  margin-left: 2rem

.product-reviews_button
  border-radius: 1rem
  background-color: $bdsmColor
  text-decoration: none
  padding: 0.3rem 3rem
  color: #ffffff
  font-weight: 900
  box-shadow: none
  border: none
  outline: none
  margin-top: 2rem
  margin-left: 2rem

.product-delivery

  font-size: 1rem
  font-weight: 700
  margin-top: 5rem
  margin-left: 2rem

.product-card_delivery-next1
  display: flex
  justify-content: space-between
  font-size: 1rem
  font-weight: 500
  margin-top: 2rem
  margin-left: 2rem

.product-card_delivery-next2
  display: flex
  justify-content: space-between
  font-size: 1rem
  font-weight: 500
  margin-top: 2rem
  margin-left: 2rem

.product-card_delivery-next3
  display: flex
  justify-content: space-between
  font-size: 1rem
  font-weight: 500
  margin-top: 2rem
  margin-left: 2rem

.product-card_delivery-text2
   margin-left: 3.5rem

.product-card_delivery-text3
  margin-left: 7rem

.product-card_information-block
  font-size: 1rem
  font-weight: 700
  margin-top: 5rem
  margin-left: 2rem

.product-card_delivery-text6
  padding-right: 6rem

.product-card_information_product-reviews
  .product-reviews-content
    max-height: 20rem
    overflow: auto
  h5
    font-size: 2rem
.product-review-window
  background: lighten($darkColor, 70%)
  border: 1px solid $bdsmColor
  border-radius: 5px
  display: flex
  flex-direction: column
  margin-bottom: 5px
 
  div
    background: $bdsmColor
    display: flex
    flex-direction: row
    justify-content: space-between
  p
    padding: 8px
    color: #fff
    // color: #bfbfbf
    font-weight: 700
  .review-name
    margin-left: 10px
  .review-date
    margin-right: 20px
  .comment
    color: #000
  



